
@{
    ViewBag.Title = "planet2";
}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var URL ="http://localhost:5738/api/Apidata/"+@ViewBag.ID;
    $.getJSON( URL, function( data ) {
        var items ="<h2>"+data.name+"</h2><img class='img-responsive' style='max-width:300px;max-height:300px;' src='/Content/Image/"+data.name+".jpg' /><dl><dt>Distance from the Sun</dt><dd>" + data.distanceFromSun + "</dd><dt>Mass</dt><dd>" + data.mass + "</dd><dt>Density</dt><dd>" + data.density + "</dd><dt>Diameter</dt><dd>" + data.diameter + "</dd><dt>Orbit time</dt><dd>" + data.orbit + "</dd><dt>Gravity</dt><dd>" + data.gravity + "</dd></dl>" ;
 
        $( ".jumbotron" ).prepend( items );

});

</script>


<div class="jumbotron">

    @using (Html.BeginForm("planet", "Details", FormMethod.Post))
    {

                <button type="submit" name="planetName" value="1">Mercury</button>
                <button type="submit" name="planetName" value="2">Venus</button>
                <button type="submit" name="planetName" value="3">Earth</button>
                <button type="submit" name="planetName" value="4">Mars</button>
                <button type="submit" name="planetName" value="5">Jupiter</button>
                <button type="submit" name="planetName" value="6">Saturn</button>
                <button type="submit" name="planetName" value="7">Uranus</button>
                <button type="submit" name="planetName" value="8">Neptune</button>
                <button type="submit" name="planetName" value="9">Pluto</button>
    }
</div>

